<template>
  <q-page>
    <!-- SPINNER -->
    <div v-if="!currentMedias" class="absolute-center">
      <q-spinner color="primary" size="5em" :thickness="10" />
    </div>

    <!-- COLLECTION -->
    <div v-else class="row q-col-gutter-md">
      <div class="col-2 fixed">
        <list-manager :collection="collection" :medias="currentMedias" @filter="onFilter" />
      </div>
      <div class="col-2"></div>
      <div class="col-10">
        <div v-if="!currentMedias.length" class="absolute-center text-h5 text-bold">Empty Collection</div>
        <medias-list v-else-if="filteredMedias" :collection="collection" :medias="filteredMedias" />
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import ListManager from '@/components/ListManager.vue';
import MediasList from '@/components/MediasList.vue';
import { useCollectionsStore } from '@/stores/collections';
import { computed, ref, watchEffect } from 'vue';
import { Collection, Media } from '@lib/api';

const props = defineProps<{
  collection: Collection;
}>();

const store = useCollectionsStore();

const currentMedias = computed(() => store.medias.get(props.collection.name));
const filteredMedias = ref(currentMedias.value);

watchEffect(() => {
  if (!store.medias.has(props.collection.name)) {
    store.refreshMedias(props.collection);
  }
});

function onFilter(medias: Media[]) {
  filteredMedias.value = medias;
}
</script>
