<!-- eslint-disable vue/no-v-text-v-html-on-component -->
<!-- eslint-disable vue/no-v-html -->
<template>
  <q-page class="q-col-gutter-md">
    <q-form @submit="onSearch">
      <q-input v-model="search" standout>
        <template #prepend>
          <q-icon v-if="search === ''" name="search" />
          <q-icon v-else name="clear" class="cursor-pointer" @click="search = ''" />
        </template>
      </q-input>
    </q-form>
    <div class="q-gutter-md">
      <q-intersection v-for="media in searchResults" :key="media.adapter_id" once class="media-list-item">
        <q-card>
          <q-card-section horizontal>
            <q-img ratio="0.7" class="col-1-5" no-spinner :src="media.image" />
            <q-card-section class="full-width full-width-content">
              <div class="row text-h4 text-weight-bold">
                <div class="col-11">
                  {{ media.name }}
                  <q-btn flat round color="accent" icon="link" :href="media.url" target="_blank" />
                </div>
                <div class="col-1 row justify-end">
                  <q-avatar v-if="isAlreadyPresent(media)" size="md" color="positive" icon="done" />
                  <q-btn v-else color="accent" padding="none xl" @click="onClickAdd(media)">Add</q-btn>
                </div>
              </div>
              <q-scroll-area class="text-body1 full-height">
                <div class="q-mr-lg" v-html="media.description"></div>
              </q-scroll-area>
            </q-card-section>
          </q-card-section>
        </q-card>
      </q-intersection>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { Ref, ref, watchEffect } from 'vue';
import { Collection, MediaExternal, AdapterService, Entry, EntryOut } from '@lib/api';
import { useCollectionsStore } from '@/stores/collections';
import EntryEditor from '@/components/dialog/EntryEditor.vue';
import { useQuasar } from 'quasar';

const props = defineProps<{
  collection: Collection;
}>();

const store = useCollectionsStore();
const q = useQuasar();

const search = ref('');
const searchResults: Ref<MediaExternal[]> = ref([]);

let refreshPromise: Promise<void> | undefined;

watchEffect(() => {
  if (!store.medias.has(props.collection.name)) {
    refreshPromise = store.refreshMedias(props.collection);
  }
});

async function onSearch() {
  const promises = Promise.all([AdapterService.search(props.collection.id, search.value), refreshPromise]);
  searchResults.value = (await promises)[0];
}

function isAlreadyPresent(media: MediaExternal) {
  const entries = store.medias.get(props.collection.name);
  if (!entries) return false;
  return !!entries.find((m) => m.adapter_id === media.adapter_id);
}

function onClickAdd(media: MediaExternal) {
  const { collection } = props;
  const entry: Entry = { status: props.collection.entryStatuses[0] };
  q.dialog({ component: EntryEditor, componentProps: { collection, entry, media } }).onOk((res: EntryOut) =>
    store.addMedia(collection, res.media),
  );
}
</script>

<style lang="scss">
.media-list-item {
  min-height: 200px;
}
.col-1-5 {
  width: 12.5%;
}
</style>
