<!-- eslint-disable vue/no-v-html -->
<template>
  <q-page v-if="media" padding>
    <q-card class="my-card" flat bordered>
      <q-card-section horizontal>
        <q-img no-spinner class="col-2" :src="AssetService.mediaAsset(media.id)" />
        <q-card-section>
          <q-card-section class="text-h3 text-weight-bold">
            {{ media.name }}
          </q-card-section>
          <q-card-section><span v-html="media.description"></span></q-card-section>
        </q-card-section>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script setup lang="ts">
import { detailsPath } from '@/helpers/MiscHelper';
import { MediaService, AssetService, MediaDetails, Collection } from '@lib/api';
import { computed, onBeforeMount, ref, Ref } from 'vue';
import { useRouter } from 'vue-router';

const props = defineProps<{
  collection: Collection;
  id: string;
  name?: string;
}>();

const router = useRouter();

const media: Ref<MediaDetails | null> = ref(null);

const id = computed(() => parseInt(props.id));

onBeforeMount(async () => {
  try {
    const res = await MediaService.detailsMedia(id.value);
    media.value = res;
    if (props.name != res.name) router.replace(detailsPath(props.collection, res));
  } catch (err) {
    console.log(err);
    router.replace({ name: '404' });
  }
});
</script>
