<template>
  <q-page>
    <div class="absolute-center text-h6 text-bold text-center">
      <p>{{ pkg.name }} v{{ pkg.version }} by {{ pkg.author }}</p>
      <a class="hoverable" target="_blank" :href="pkg.homepage">
        <q-avatar size="1.5em">
          <img src="@/assets/gitlab.png" />
        </q-avatar>
        Fork us on Gitlab
      </a>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import pkg from '@/../package.json';
</script>
