<template>
  <q-page>
    COLLECTIONS

    <fab icon="add" @click="onClickAdd" />
  </q-page>
</template>

<script setup lang="ts">
import CollectionEditor from '@/components/dialog/CollectionEditor.vue';
import fab from '@/components/FloatingActionButton.vue';
import { useCollectionsStore } from '@/stores/collections';
import { Collection, CollectionService } from '@lib/api';
import { useQuasar } from 'quasar';

const q = useQuasar();
const store = useCollectionsStore();

async function onClickAdd() {
  const adapters = Object.keys(await CollectionService.listAdapters());
  q.dialog({
    component: CollectionEditor,
    componentProps: { collection: {}, adapters },
  }).onOk((res: Collection) => {
    store.addCollection(res);
  });
}
</script>
