<template>
  <q-input v-model="value" :label="label" filled :mask="mask" :rules="[validate]">
    <template #append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
          <q-date v-model="value" :mask="format">
            <div class="row items-center justify-end">
              <q-btn v-close-popup label="Close" color="primary" flat />
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script setup lang="ts">
import { watch, ref } from 'vue';

const emit = defineEmits(['update:modelValue']);
const props = defineProps<{
  modelValue?: string;
  label?: string;
}>();

const mask = '####-##-##';
const format = 'YYYY-MM-DD';
const regex = /^-?[\d]+-[0-1]\d-[0-3]\d$/;

const value = ref(props.modelValue);

watch(value, () => {
  emit('update:modelValue', value);
});

function validate(input: string) {
  return !input || regex.test(input);
}
</script>
