<template>
  <q-page-sticky position="bottom-right" :offset="[32, 32]">
    <q-btn fab :icon="icon" color="accent" @click="$emit('click')" />
  </q-page-sticky>
</template>

<script setup lang="ts">
defineEmits(['click']);
defineProps<{
  icon: string;
}>();
</script>
