<template>
  <div class="full-width-content">
    <q-btn
      color="accent"
      icon="add"
      :to="{ name: 'addEntry', params: { collectionName: sanitize(collection.name) } }"
    />
    <q-input v-model="search" standout input-class="text-right">
      <template #append>
        <q-icon v-if="search === ''" name="search" />
        <q-icon v-else name="clear" class="cursor-pointer" @click="search = ''" />
      </template>
    </q-input>
    <q-btn-toggle
      v-model="selectedList"
      spread
      square
      flat
      class="q-mt-lg listOptions"
      toggle-color="accent"
      :options="listOptions"
    />
    <q-select v-model="selectedSort" color="accent" filled :options="sortOptions" label="Sort By">
      <template #after>
        <q-btn flat round color="accent" :icon="sortIcon" @click="sortReverse = !sortReverse" />
      </template>
    </q-select>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, watchEffect } from 'vue';
import { Collection, Media } from '@lib/api';
import { icontains, sanitize, comparators, lastEntry } from '@/helpers/MiscHelper';

const emit = defineEmits(['filter']);
const props = defineProps<{
  collection: Collection;
  medias: Media[];
}>();

const sortOptions: { label: string; value: (m: Media) => string | number | undefined }[] = [
  { label: 'Status', value: comparators.default },
  { label: 'Name', value: comparators.name },
  { label: 'Score', value: comparators.score },
  { label: 'Started Date', value: comparators.started },
  { label: 'Completed Date', value: comparators.completed },
  { label: 'Start Date', value: comparators.start },
  { label: 'End Date', value: comparators.end },
];

const search = ref('');
const selectedList = ref('All');
const selectedSort = ref(sortOptions[0]);
const sortReverse = ref(false);

const sortIcon = computed(() => (sortReverse.value ? 'arrow_upward' : 'arrow_downward'));
const listOptions = computed(() => {
  const options = new Set(['All']);
  for (const media of props.medias) options.add(lastEntry(media).status);
  return Array.from(options).map((o) => ({ label: o, value: o }));
});

watchEffect(() => {
  const filtered = props.medias.filter(filter).sort(sort);
  emit('filter', filtered);
});

function filter(media: Media) {
  return (
    icontains(media.name, search.value) &&
    (selectedList.value === 'All' || lastEntry(media).status === selectedList.value)
  );
}

function sort(a: Media, b: Media) {
  return sortReverse.value ? compare(b, a) : compare(a, b);
}

function compare(a: Media, b: Media): number {
  const bSort = selectedSort.value.value(b);
  if (!bSort) return -1;
  const aSort = selectedSort.value.value(a);
  if (!aSort) return 1;
  if (aSort === bSort) return a.name > b.name ? 1 : -1;
  return aSort < bSort ? -1 : 1;
}
</script>

<style lang="scss">
.listOptions {
  flex-direction: column;
}
</style>
