<template>
  <q-card class="row hover-container">
    <div class="row hover-overlay"></div>
    <div class="row q-pa-sm items-center entry-card-content">
      <div class="col-1">
        <q-avatar size="80px">
          <q-img ratio="1" no-transition no-spinner :src="AssetService.mediaAsset(media.id)" />
        </q-avatar>
      </div>
      <div class="col-5 text-h6 text-weight-bold">
        {{ media.name }}
      </div>
      <div class="col-1 text-body1">
        <q-avatar color="secondary" size="32px">
          {{ lastEntry.score || '-' }}
        </q-avatar>
      </div>
      <div class="col-1 text-center">
        {{ lastEntry.progress || 0 }} / {{ media.total || '-' }}
        <q-btn
          v-if="canProgress"
          class="q-ml-sm btn-add btn-add"
          size="0.4em"
          round
          unelevated
          @click.prevent="onClickAdd"
        >
          <span class="text-weight-bold">+</span>
        </q-btn>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-6 text-right text-label">started</div>
          <div class="col-1 text-center text-label">|</div>
          <div class="text-weight-bold">{{ lastEntry.started || '-' }}</div>
        </div>
        <div class="row">
          <div class="col-6 text-right text-label">completed</div>
          <div class="col-1 text-center text-label">|</div>
          <div class="text-weight-bold">{{ lastEntry.completed || '-' }}</div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-6 text-right text-label">from</div>
          <div class="col-1 text-center text-label">|</div>
          <div class="text-weight-bold">{{ media.start || '-' }}</div>
        </div>
        <div class="row">
          <div class="col-6 text-right text-label">to</div>
          <div class="col-1 text-center text-label">|</div>
          <div class="text-weight-bold">{{ media.end || '-' }}</div>
        </div>
      </div>
    </div>
  </q-card>
</template>

<script setup lang="ts">
import { Media, AssetService, MediaService, Collection } from '@lib/api';
import { computed } from 'vue';
import { lastEntry as getLastEntry } from '@/helpers/MiscHelper';

const props = defineProps<{
  media: Media;
  collection: Collection;
}>();

const lastEntry = computed(() => getLastEntry(props.media));

const canProgress = computed(() => {
  const entry = lastEntry.value;
  const { total } = props.media;
  if (!entry.progress || !total) return true;
  return entry.progress < total;
});

async function onClickAdd() {
  const entry = lastEntry.value;
  if (entry.progress) entry.progress++;
  else entry.progress = 1;
  MediaService.updateMedia(props.collection.id, props.media.adapter_id, props.media.entries);
}
</script>

<style lang="scss">
.entry-card-content {
  width: 100%;
  z-index: 1;

  .text-label {
    color: lightgray;
  }

  .btn-add {
    background-color: white;

    &:hover {
      background-color: $primary;
    }

    span {
      color: $dark;
      font-size: 1.8em;
    }
  }
}
</style>
