<template>
  <div class="q-gutter-md">
    <q-intersection v-for="media in medias" :key="media.id" :once="!isDev" class="entries-list-item">
      <router-link :to="detailsPath(collection, media)" @contextmenu.prevent="editMedia(media)">
        <media-card :collection="collection" :media="media" />
      </router-link>
    </q-intersection>
  </div>
</template>

<script setup lang="ts">
import { Collection, Media } from '@lib/api';
import { useQuasar } from 'quasar';
import { detailsPath, lastEntry } from '@/helpers/MiscHelper';
import MediaCard from './MediaCard.vue';
import EntryEditor from './dialog/EntryEditor.vue';

const props = defineProps<{
  medias: Media[];
  collection: Collection;
}>();

const q = useQuasar();

// q-intersection "once" is slow on dev mode
let isDev = false;
if (process.env.DEV) {
  isDev = true;
}

function editMedia(media: Media) {
  const { collection } = props;
  const entry = lastEntry(media);
  q.dialog({ component: EntryEditor, componentProps: { collection, entry, media } });
}
</script>

<style lang="scss">
.entries-list-item {
  min-height: 96px;
}
</style>
