a {
  text-decoration: none;
  color: inherit;

  &.hoverable:hover {
    color: $primary;
  }
}

.hover-container {
  $transition: 0.1s;
  cursor: pointer;

  .hover-overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    border-radius: inherit !important;
    background-color: $accent;
    transition: opacity $transition;
  }

  &:hover {
    .hover-overlay {
      opacity: 0.4;
      transition: opacity $transition;
    }
  }
}

.full-width-content {
  display: flex;
  flex-direction: column;
  > * {
    $margin: 8px;
    margin: $margin 0 $margin 0;

    &:first-child {
      margin-top: 0;
    }
  }
}
