<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-pa-md entry-editor">
      <q-card-section>
        <div class="text-h4">New Collection</div>
      </q-card-section>

      <q-card-section class="row">
        <div class="q-ma-md">
          <q-input v-model="temp.name" label="Name" filled />
        </div>
        <div class="q-ma-md">
          <q-select v-model="temp.adapter" class="large-input" filled :options="adapters" label="Adapter" />
        </div>
      </q-card-section>

      <q-card-actions class="dialog-buttons" align="right">
        <q-btn color="primary" label="OK" @click="onOk" />
        <q-btn color="primary" label="Cancel" @click="onDialogCancel" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent, useQuasar } from 'quasar';
import { Collection, CollectionService } from '@lib/api';
import { ref } from 'vue';

defineEmits(useDialogPluginComponent.emits);
const props = defineProps<{
  collection: Collection;
  adapters: string[];
}>();

const q = useQuasar();

const temp = ref(Object.assign({}, props.collection));

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent();

async function onOk() {
  const result = await CollectionService.updateCollection(temp.value);
  q.notify({
    message: `${result.name} collection updated`,
    position: 'top',
    color: 'positive',
    icon: 'done',
    timeout: 2000,
    group: false,
  });
  onDialogOK(result);
  Object.assign(props.collection, result);
}
</script>

<style lang="scss">
.entry-editor {
  max-width: 80vw !important;

  .large-input {
    width: 200px;
  }
}
</style>
