<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-pa-md entry-editor">
      <q-card-section>
        <div class="text-h4">{{ media.name }}</div>
      </q-card-section>

      <q-card-section class="row">
        <div class="q-ma-md">
          <q-select
            v-model="temp.status"
            class="large-input"
            filled
            :options="collection.entryStatuses"
            label="Status"
          />
        </div>
        <div class="q-ma-md">
          <q-input
            v-model.number="temp.score"
            label="Score"
            type="number"
            filled
            min="0"
            max="10"
            :rules="[validateScore]"
          />
        </div>
        <div class="q-ma-md">
          <q-input
            v-model.number="temp.progress"
            label="Progress"
            type="number"
            filled
            min="0"
            :rules="[validateProgress]"
          />
        </div>
      </q-card-section>

      <q-card-section class="row">
        <div class="q-ma-md">
          <date-picker v-model="temp.started" label="Started" />
        </div>
        <div class="q-ma-md">
          <date-picker v-model="temp.completed" label="Finished" />
        </div>
      </q-card-section>

      <q-card-actions class="dialog-buttons" align="right">
        <q-btn color="primary" label="OK" @click="onOk" />
        <q-btn color="primary" label="Cancel" @click="onDialogCancel" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent, useQuasar } from 'quasar';
import { Collection, Entry, MediaService, MediaExternal } from '@lib/api';
import { ref } from 'vue';
import DatePicker from '@/components/DatePicker.vue';

defineEmits(useDialogPluginComponent.emits);
const props = defineProps<{
  collection: Collection;
  entry: Entry;
  media: MediaExternal;
}>();

const q = useQuasar();

const temp = ref(Object.assign({}, props.entry));

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent();

async function onOk() {
  const { collection, media } = props;
  const result = await MediaService.updateEntry(collection.id, media.adapter_id, temp.value);
  q.notify({
    message: `${media.name} entry updated`,
    position: 'top',
    color: 'positive',
    icon: 'done',
    timeout: 2000,
    group: false,
  });
  Object.assign(props.entry, result);
  onDialogOK(result);
}

function validateScore(n: number) {
  return 0 <= n && n <= 10;
}
function validateProgress(n: number) {
  return 0 <= n;
}
</script>

<style lang="scss">
.entry-editor {
  max-width: 80vw !important;

  .large-input {
    width: 200px;
  }
}
</style>
