<template>
  <router-view v-if="loaded" />
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useCollectionsStore } from './stores/collections';

const store = useCollectionsStore();
const loaded = ref(false);

store.refreshCollections().then(() => (loaded.value = true));
</script>
