<template>
  <q-layout v-if="collection" view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn v-if="route.name === 'collection'" flat round dense icon="settings" :to="{ name: 'settings' }" />
        <q-btn v-else flat round dense icon="navigate_before" @click="onGoBack" />
        <q-toolbar-title>
          <router-link :to="{ name: 'root' }">Notalist</router-link>
        </q-toolbar-title>
        <q-btn-dropdown flat :label="collection.name">
          <q-list v-for="option in store.collections" :key="option.id">
            <q-item v-close-popup clickable @click="OnChooseCollection(option.name)">
              <q-item-section>
                <q-item-label>{{ option.name }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view class="q-pa-md" :collection="collection" />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { sanitize } from '@/helpers/MiscHelper';
import { useCollectionsStore } from '@/stores/collections';
import { computed, watch } from 'vue';
import { useRouter, useRoute } from 'vue-router';

const props = defineProps<{
  collectionName?: string;
}>();

const store = useCollectionsStore();
const router = useRouter();
const route = useRoute();

const collection = computed(() => store.getCollection(props.collectionName));

if (!store.collections.length) {
  router.replace({ name: 'settings' });
} else {
  onCollectionChange();
}

watch(collection, onCollectionChange);

function onCollectionChange() {
  if (!props.collectionName) {
    const collectionName = sanitize(store.collections[0].name);
    router.replace({ name: 'collection', params: { collectionName } });
  } else if (!collection.value) {
    router.replace({ name: '404' });
  }
}

function OnChooseCollection(collection: string) {
  const collectionName = sanitize(collection);
  router.push({ name: 'collection', params: { collectionName } });
}

function onGoBack() {
  if (history.length > 1) router.back();
  else router.push({ name: 'collection', params: { collectionName: props.collectionName } });
}
</script>
