<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn flat round dense icon="menu" @click="drawer = !drawer" />
        <q-toolbar-title>
          <router-link :to="{ name: 'root' }">Notalist</router-link>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="drawer" show-if-above :width="200">
      <q-scroll-area class="fit">
        <q-list>
          <template v-for="item in menuList" :key="item">
            <q-item v-ripple clickable :active="current === item.page" @click="onClickMenu(item)">
              <q-item-section avatar>
                <q-icon :name="item.icon" />
              </q-item-section>
              <q-item-section>
                {{ item.label }}
              </q-item-section>
            </q-item>
          </template>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view class="q-pa-md" />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';

type MenuItem = { icon: string; label: string; page?: string; url?: string };

const menuList: MenuItem[] = [
  { icon: 'library_books', label: 'Collections', page: 'settings-collections' },
  { icon: 'library_add', label: 'Import', page: 'settings-import' },
  { icon: 'api', label: 'API docs', url: '/api' },
  { icon: 'help', label: 'About', page: 'settings-about' },
];

const route = useRoute();
const router = useRouter();
const current = ref(route.name?.toString());
const drawer = ref(true);

if (current.value === 'settings') {
  router.replace({ name: menuList[0].page });
  current.value = menuList[0].page;
}

watch(current, () => {
  router.push({ name: current.value });
});

function onClickMenu(item: MenuItem) {
  if (item.page) current.value = item.page;
  else if (item.url) window.open(item.url);
}
</script>
